[tool.poetry]
name = "gino-stubs"
version = "0.3"
description = "Experimental Gino stubs"
authors = ["Bryan Forbes <bryan@reigndropsfall.net>"]
license = "BSD-3-Clause"

packages = [
	{ include = "gino-stubs" },
	{ include = "ginomypy" }
]
include = [
	"gino-stubs/**/*.pyi",
	"ginomypy/py.typed"
]

[tool.poetry.dependencies]
python = "^3.6"
mypy = ">=0.720"
typing-extensions = ">=3.7.4"
sqlalchemy-stubs = "^0.3"
importlib_metadata = {version = "^1.3.0", python = "<3.8"}

[tool.poetry.dev-dependencies]
attrs = ">=18.0"
black = "^19.3b0"
flake8 = "^3.6"
flake8-bugbear = {version = "^19.3", python = "^3.6"}
flake8-pyi = {version = "^19.2", python = "^3.6"}
pre-commit = "^1.12"
pytest = "^5.0"
pytest-cov = "^2.6"
pytest-mypy-plugins = "~1.2.0"
pytest-xdist = "^1.24"
py = ">=1.5.2"
gino = ">=0.8.4"
sqlalchemy = "~1.2.18"
isort = "^4.3.21"

[tool.black]
line-length = 88
target-version = ["py36", "py37"]
skip-string-normalization = true
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.pytest_cache
  | \.venv
  | external
)/
'''

[tool.isort]
known_standard_library = ["typing_extensions"]
known_first_party = ["ginomypy"]
virtual_env = ".venv"
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 88

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
