[tool.poetry]
name = "gino-stubs"
version = "1.0.1+0"
description = "Gino stubs and mypy plugin"
authors = ["Bryan Forbes <bryan@reigndropsfall.net>"]
license = "BSD-3-Clause"

packages = [
	{ include = "ginomypy" }
]
include = [
	"gino-stubs/**/*.pyi",
	"ginomypy/py.typed"
]

[tool.poetry.dependencies]
python = "^3.6.1"
mypy = ">=0.780"
typing-extensions = ">=3.7.4"
sqlalchemy-stubs = "^0.3"
asyncpg-stubs = {rev = "18abe3539aaf5f86ddd462094def48161e31d1ea", git = "https://github.com/bryanforbes/asyncpg-stubs.git"}
importlib_metadata = {version = "^1.6.1", python = "<3.8"}

[tool.poetry.dev-dependencies]
attrs = ">=18.0"
black = {version = "^19.10b0", allow-prereleases = true}
flake8 = "^3.8"
flake8-bugbear = {version = ">=19.3"}
flake8-pyi = {version = "^20.5"}
pre-commit = "^2.5"
pytest = "^5.4"
pytest-cov = "^2.9"
pytest-mypy-plugins = "~1.3.0"
pytest-xdist = "^1.32"
py = ">=1.5.2"
gino = "~1.0.1"
sqlalchemy = "~1.2.18"
isort = "^4.3.21"

[tool.black]
line-length = 88
target-version = ["py36", "py37"]
skip-string-normalization = true
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.pytest_cache
  | \.venv
  | external
)/
'''

[tool.isort]
known_standard_library = ["typing_extensions"]
known_first_party = ["ginomypy"]
virtual_env = ".venv"
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 88

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
